.container
{
    background-color: rgb(255, 255, 255);
    box-shadow: black;
    border-style: outset;
    padding-left: 1%;
    padding-bottom: 5px;
}

input
{
    width: 90%;
   padding-left: 10px;
   height: 25px;
   font-size: x-small;
}

table
{
    border-collapse: collapse;
    border-spacing: 20px;
    width: 90%;
    
}

th
{
    font-weight: bold;
    background-color: rgb(173, 205, 255);
    font-size: larger;
    border-width: 1px;
    border-style: solid;
}

td
{
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.left_cell
{
    width: 10%;
    color: pink;
}

.center_cell
{
    width: 20%;
}

.right_cell
{
    width: 70%;
}
button
{
    background-color: rgb(173, 205, 255);
    color: white;
    border: none;
    text-align: center;
    height: 40;
    transition-duration: 0.1s;

}

.button:hover
{
    background-color: white;
    color: black;
}

.hidden
{
    display: none;
}