.container
{
    background-color: rgb(255, 255, 255);
    box-shadow: black;
    border-style: outset;
    padding-left: 1%;
    padding-bottom: 5px;
    margin: auto;
    align-items: center;
}

input
{
    width: 90%;
   padding-left: 10px;
   height: 25px;
   font-size: x-small;
   
}

table
{
    border-collapse: collapse;
    border-spacing: 20px;
    width: 90%;
    
}

th
{
    font-weight: bold;
    background-color: rgb(173, 205, 255);
    font-size: larger;
    border-width: 1px;
    border-style: solid;
}

td
{
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.left_cell
{
    width: 10%;
    color: pink;
}

.center_cell
{
    width: 20%;
}

.right_cell
{
    width: 70%;
}

.buttonCalculate
{
    background-color: rgb(173, 205, 255);
    color: white;
    border: none;
    text-align: center;
    height: 40;
    transition-duration: 0.1s;

}

.buttonRock
{
    background-color: red; 
    color: white;
    border-style: none;
    font-size: x-large;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}

.buttonPaper
{
    background-color: rgb(14, 120, 4); 
    color: white;
    border-style: none;
    font-size: x-large;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}

.buttonScissors
{
    background-color: yellow;
    color: rgb(0, 0, 0);
    border-style: none;
    font-size: x-large; 
    padding: 10px 20px 10px 20px;
    margin: 10px;
}

.button:hover
{
    background-color: white;
    color: black;
}

.hidden
{
    display: none;
}

.frmLabel
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
    width: 100%;
}

.frmInput
{
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    font-size: medium;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.147);
}

.frmSelection
{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    height: 30px;
    font-size: medium;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.318);
}

.frmButton
{
    color: white; 
    background-color: rgb(256,52,116);
    border-radius: 5px;
    border-style: none;
    margin-top: 5px;
    width: 90%;
    height: 30px;
}

.frmButton:hover
{
    background-color: white; 
    color: rgb(256,52,116); 
}